
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~

# testing
CatalogSource.yaml
test/Dockerfile
helm-charts/policy-controller-operator/charts/policy-controller
