apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- manager.yaml

images:
- digest: sha256:b6ec2075c4010e61f4bc68d35eb6fda6bd93a2708bdfda33b4db801f4d6282f7
  name: controller
  newName: registry.redhat.io/rhtas/policy-controller-rhel9-operator

patches:
- path: patches/manager_image_env_patch.yaml
  target:
    kind: Deployment
    name: controller-manager

configMapGenerator:
- behavior: create
  envs:
  - images.env
  name: related-images
  options:
    disableNameSuffixHash: true

replacements:
- source:
    fieldPath: data.RELATED_IMAGE_POLICY_CONTROLLER
    kind: ConfigMap
    name: related-images
    version: v1
  targets:
  - fieldPaths:
    - spec.template.spec.containers.[name=^manager$].env.[name=^RELATED_IMAGE_POLICY_CONTROLLER$].value
    select:
      kind: Deployment
      name: controller-manager
- source:
    fieldPath: data.RELATED_IMAGE_OSE_CLI
    kind: ConfigMap
    name: related-images
    version: v1
  targets:
  - fieldPaths:
    - spec.template.spec.containers.[name=^manager$].env.[name=^RELATED_IMAGE_OSE_CLI$].value
    select:
      kind: Deployment
      name: controller-manager
