# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/

# ignore the CRD install so we can allow OLM to manage them
charts/policy-controller/templates/crds/clusterimagepolicy.yaml
charts/policy-controller/templates/crds/trustroots.yaml

# ignore upstream template files and use ours instead
charts/policy-controller/templates/webhook/cleanup-leases.yaml
charts/policy-controller/templates/webhook/role_webhook.yaml
charts/policy-controller/templates/webhook/rolebinding_webhook.yaml
charts/policy-controller/templates/webhook/configmap.yaml
charts/policy-controller/templates/webhook/clusterrole_webhook.yaml
